@model StudentAdministrationSystem.Models.Assessment

@{
    ViewData["Title"] = "Create";
}


<h1 class="h3 mb-2 text-gray-800">Create</h1>
<p class="mb-4">Assessment</p>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Assessment</h6>
    </div>
    <div class="card-body">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label >Module</label>
                <span asp-validation-for="CourseModuleId" class="text-danger"></span>
                <select class="form-control" asp-for="CourseModuleId">
                        <option value="">--Select a Course Code--</option>
                    @foreach (var item in ViewBag.AllCourses)
                        {
                        <option value="@item.ID">(@item.CourseCode)  @item.CourseTitle - (Dept. @item.Programme.Title)</option>
                        }
                    </select>
            </div>

            <div class="form-group">
                <label asp-for="AssessmentName" class="control-label"></label>
                <input asp-for="AssessmentName" class="form-control" />
                <span asp-validation-for="AssessmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marks" class="control-label"></label>
                <input asp-for="Marks" class="form-control" />
                <span asp-validation-for="Marks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
